<table class="table table-hover table-dark">
  <thead>
  <tr>
    <th scope="col">Name</th>
  </tr>
  </thead>
  <% @chat.each do |chat| %>
    <tbody>
    <tr data-chat_id="<%= chat.id %>">
      <th scope="col"><%= chat.name %></th>
  <% end %>
</table>
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-toolbar mb-2" role="group" aria-label="First group">

    <%= button_to 'new chat', new_chat_path,
                  method: :get,
                  class: "btn btn-secondary",
                  style: "margin-right: 15px" %>
  </div>
</div>
