<div class="container-home" id="home-container">
  <div class="text-center center" >
    <%= link_to t('layouts.chats'), chats_path, class: "bg-btn btn" %>
  </div>
</div>

<div class="container-app">
  <div class="jumbotron text-center text-white" id="home-container">
    <h3 id="home-header">Reddit telegram</h3>
    <div class="rounded jumbotron text-center text-white">
      <p> <%= t('.first') %> This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    </div>
    <div class="rounded jumbotron text-center text-white">
      <p> <%= t('.second') %>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </div>
  </div>
</div>
