<div class="container">
  <div class="jumbotron text-center text-white" id="home-container">
    <h3 id="home-header">Reddit telegram</h3>
    <hr class="my-4" id="home-hr">
    <% @posts.each do |post|%>
      <div class="jumbotron text-center text-white" id="home-text">
        <p><%= post.body %></p>
        <% if post.link %>
          <%= image_tag post.link%>
        <% end %>
      </div>
      <%= button_to 'Publish', publish_path(post),
                    method: :put,
                    class: "btn btn-secondary",
                    style: "margin-right: 15px" %>
    <% end %>
  </div>
</div>
