@import 'bootstrap/dist/css/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html,body{
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

.nounderline{
  text-decoration: none !important;
  margin-bottom: 7px;
}

.nounderline:hover{
  border: 1px solid;
  background-color: Transparent;
  border-radius: 5px;
  padding: 6px 14px;
}
.nav-text{
color: #EFEFEF !important;
padding-bottom: 16px;
  margin-right: 20px;
}

.navbar-brand{
  margin-bottom: 10px;
  margin-left: 20px;
}

.container{
  justify-content: center;
  display: flex;
}

#ROM{
margin-top: 4px;
}

#home-container{
  background-color: rgba(255,255,255,0.2);
  padding-top: 34px;
}

#home-header{
  color: white;
  text-align: center;
  font-weight: bold;
}

#home-text{
  background-color: rgba(0,0,0,0.4);
  padding-top: 34px;
  padding-bottom: 24px;
}

#home-hr{
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.card{
  height: auto;
  margin-top: 10%;
  margin-bottom: auto;
  width: 50%;
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.card-header h2{
  color: white;
  text-align: center;
  font-weight: bold;
}

.card-body{
  font-style: italic;
}

.card-footer{
  font-style: italic;
}

.input-group-prepend span{
  width: 50px;
  background-color: Transparent;
  color: darkgray;
  border:0;
}

.form-control {
  background-color: Transparent;
  color:  white;
  border: none !important;
  border-bottom: 1px solid white !important;
}

.form-control::placeholder{
  color: darkgray;
}

.remember{
  color: white;
}

.remember input
{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.remember-label {
  margin-bottom: 0.5px;
  margin-top: 4px;
  margin-left: 10px;
}

.btn {
  background-image: none !important;
  border: 1px solid !important;
  padding: 12px 28px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 16px !important;
  line-height: 12px !important;
  margin-right: 3px !important;
  border-radius: 5px !important;
  font-family: 'Montserrat', sans-serif !important;
  text-shadow: Transparent 0 0.1px 0 !important;
  margin-top: 11px;
  font-style: italic;
}

.login_btn{
  color: white !important;
  background-color: Transparent !important;
}

.login_btn:hover{
  color: black !important;
  background-color: Transparent !important;
}

.links{
  color: white;
}

.links a{
  margin-left: 4px;
}

.bg-dark{
  background-color: rgba(0,0,0,0.6) !important;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6935483870967742) 35%, rgba(255,255,255,0) 100%) !important;
}

#error_explanation h2{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 30px;
}
#error_explanation li{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size:15px;
}

.field_with_errors{

  width: 100% !important;
}
.message{
  margin-right: 20px;
}
